.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.alldata {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 2fr;
}

.offset {
  margin-left: 5px;
}

.padded {
  padding: 2px;
}

.thick {
  font-weight: bold;
}

.color-nav {
  background-color: #838383;
}

.nav-link:hover {
  color: rgb(209, 207, 207) !important;
  font-weight: bolder;
}

.centeredGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.alldataMYGEE {
  display: flex;
  justify-content: center;
}